apache-airflow-providers-oracle==4.4.0
oracledb==3.4.2
apache-airflow-providers-postgres==6.1.3
astronomer-cosmos[dbt-postgres]==1.13.0
dbt-core==1.10.8
dbt-postgres==1.9.1
alembic==1.15.2
dlt[postgres]==1.22.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
